<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SRVR</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="row">
    <div class="col-md-auto">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">SRVR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          {{#if logged_in}}
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Orders <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">New Order</a>
            </li>
          </ul>
        </div>
        <button class="logout-btn" id="logout" type="button" name="log out">Log Out</button>
        {{/if}}




      </nav>

    </div>
    <div class="col col-lg-8">

{{{body}}}

{{#unless logged_in}}
<section>
  <h3>Signup:</h3>
  <form id="submitForm">
    <label for="userName">User Name:</label><br>
    <input type="text" id="userName" placeholder="John"><br>
    <label for="pWord">Password:</label><br>
    <input type="text" id="pWord" placeholder="1234"><br><br>
    <input type="submit" value="Sign Up">
</form>
</section>
{{/unless}}

      <!-- menu partial start-->
      <div class= "mainBody" data-spy="scroll" data-target="#navbar-example3" data-offset="0">
    <!-- menuitems partial start-->
    <!-- menuitems partial end-->
        </div>
      </div>

      <!-- menu partial end -->
    </div>

    <div class="col col-lg-2">

    </div>
  </div>

<!-- {{{body}}} -->



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
{{#unless logged_in}}
<script src="/js/signup.js"></script>
{{/unless}}
</body>
</html>
