
{{#if logged_out}}
  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="username">Username</span>
  </div>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
<div class="input-group-prepend">
  <span class="input-group-text" id="password">Password</span>
</div>
<input type="text" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon1">
</div>
</div>
{{/if}}
