{{#each menus as |menu|}}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{item_name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">${{price}}</h6>
      <p class="card-text">Image_path is currently an empty string:{{image_path}}</p>
    </div>
  </div>
{{/each}}