<div class="card menuitem" style="width: 18rem;">
 <img src="/images/{{image_path}}" class="card-img-top" alt="{{item_name}}">
 <div class="card-body">
   <h5 class="card-title">{{menuitem.item_name}}</h5>
   <p class="card-text">price:{{menuitem.price}}</p>

 </div>
</div>
