:root {
  --tang: #FAA275;
  --coral: #FF8C61;
  --saten: #CE6A85;
  --plum: #985277;
  --byz: #5C374C;
  --lilac: #885A89;
  --purp: #201020;
  --violet: #633964;
  --powder: #DFD6DF;

}

body {
/* display: flex; */
background-color: var(--powder);
height: inherit;


}
.col-md-auto{
  display: flex;
  flex-direction: column;
background-color: var(--lilac);
border-style: solid;
border-color: var(--purp);
}
nav {
display: flex;
background-color: var(--lilac);
flex-direction: column;

}
nav ul{
  display: flex;
flex-wrap: wrap;
flex-direction: column;
background-color: var(--lilac);
}
.nav-item{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--lilac);
}

.mainBody{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;

}
.menuitem{
  border-color: var(--coral);
  background-color: var(--tang);
  border-radius: 10px;
  border-width: 5px;
  color: var(--byz);
  margin-top: 5px;

}

.logout-btn{
  display: flex;
  justify-content: center;
  align-self: flex-end;
  background-color: var(--purp);
  color: white;
  border-color: var(--purp);
}

.logout-btn:hover{
  background-color: var(--coral);
  color: var(--powder);
}

.btn-primary{
  background-color: var(--purp);
  color: white;
  border-color: var(--purp);
}
.btn-primary:hover{
  background-color: var(--lilac);
  color: white;
  border-color: var(--purp);
}

.input-group{
  width:50%;
}
.input-group-prepend{
  border-width: 10px;
  background-color: var(--powder);
}
#username{
    background-color: var(--lilac);
    color: var(--purp);
}
#password{
  background-color: var(--lilac);
  color: var(--purp);
}

.order{
  border-color: var(--coral);
  background-color: var(--tang);
  border-radius: 10px;
  border-width: 5px;
  color: var(--byz);
  margin-top: 5px;
}
#price{
    color: var(--byz);
}

image{
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.mt-4{
  border-color: var(--coral);
  background-color: var(--tang);
  border-radius: 10px;
  border-width: 20px;
  color: var(--byz);
  margin-top: 5px;

}
